.toptimer {
    background: #353535 !important;
    color: #fff !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#toptimer-bar {
    position: relative;
    z-index: 9999;
    height: 40px;
    /*position: sticky;*/
    top: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
    width: 100%;
}


#toptimer-timer-dropdown {
    margin-top: 0px;
    padding: 8px 20px;
    width: 10%;
    height: 40px;
}


.toptimer-timer-stop {
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
}



/* settings btn */

#settings-btn {
    height: 39px;
    width: 30px;
    justify-content: center;
    cursor: pointer;
    float: left;
}

.width2020 {
    height: 20px !important;
    width: 20px !important;
}

#toptimer-calendar-btn {
    height: 39px;
    width: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#mute_btn {
    height: 39px;
    width: 30px;
    justify-content: center;
    cursor: pointer;
    float: left;
}

#mute_btn img {
    height: 20px;
    width: 20px;
}

#calendarPopupDiv {
    position: absolute;
    top: 15%;
    width: auto;
    height: 40%;
    z-index: 10002;
}

.toptimer-calendar-popup-close-btn {
    content: "x";
    top: 0;
    right: 0;
    position: absolute;
    z-index: 10002;
    width: 10px;
    line-height: 1;
    padding: 2px 12px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#optionsClose-btn {
    float: right;
    right: 0;
    top: 0;
    content: "x";
    position: absolute;
    z-index: 10003;
    width: 10px;
    line-height: 1;
    padding: 2px 12px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#myProgress {
    width: 100%;
    height: 10px;
    border-bottom: 1px solid grey;
}

#myBar {
    width: 1%;
    height: 10px;
    background-color: #04AA6D;
}

#toptimer__overflow {
    background-color: #000;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.8;
    z-index: 10000;
}

#toptimer__settingPaneContainer {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 10001;
}

#toptimer__settingPane {
    position: relative;
    display: block;
    height: 60%;
    width: 80%;
    background-color: black;
    color: white !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding: 10px;
}

#calLink {
    width: 80%;
    height: 20px;
}

#toptimer__settingPane {
    border-style: solid;
    border-width: 2px;
    border-color: grey;
}

#calendarPopupDiv {
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    z-index: 10001;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

.colorbox {
    height: 20px;
    width: 20px;
    float: left;
}

.line {
    margin-bottom: 5px;
}

.__TTsubTitle {
    color: white !important;
}

#setCal {
    background-color: orange;
    height: 30px;
    width: 40px;
}

#__TTcb-hide-calendarLabel {
    color: white;
}

.__TTBUTTON {
    margin: 0px 0px 0px 0px;
    height: 40px;
    width: 40px;
}

#go_btn {
    background: orange;
    padding: 8px 20px;
    font-weight: bold;
    margin-left: 10px;
    color: #000;
    cursor: pointer;
    height: 40px;
    width: 80px !important;
}

#toptimer__settingPane hr {
    margin: 5px 5px 5px 5px;
    border-top: solid 2px rgb(238, 238, 238) !important;
    border-bottom: solid 2px rgb(238, 238, 238) !important;
    display: block;
    height: 1px !important;
    background: transparent;
    opacity: '0';
}

#progress_bar{
	transition: width 1s linear;
}